*{
    margin:0;
    padding:0;
 
}
body{
    width:100%;
    height:100%;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 15px;
}
#main{
    position: relative;
    width:100%;
    height:100%;
    background-color: #ffffff; 
  
   
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    display: none;
}

/*                         navigation bar                   */
#nav{
    position:relative;
    display: flex;
    align-items: center;
    background-color: rgb(210, 164, 164);
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #000;
    margin: 20px 0;
}
#nav-part1{
    display:flex;
    align-items: center;
    margin-left:5%;
    gap:5rem;
    
}

#nav-part1>a>h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    color:black;
}
#nav-part1>a>h4:hover{
   border-bottom: 2px solid black;
}
#nav-part2{
    position: absolute;
    right:8%;
    display: flex;
    align-items: center;
    gap:3rem;
}
/*                       hero Section Started                 */
#hero{
    position: relative;
    height:90vh;
    display: flex;
    margin-left:5%;
    border-radius: 20px;
    overflow: hidden;
    gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
/* part 1 hero section */
#hero-part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  width:45%;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgb(188, 247, 149);
  padding: 20px;
  border: 2px solid #000;
  margin-bottom: 20px;

}
#hero-part1>h1{
    font-family:sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    margin: 2rem 0;
   
}
#hero-part1>h6{
    font-family:serif;
    text-transform:capitalize;
    color: #6b6c6c;
    font-size: 1rem;
    
}
#hero-part1>h5{
    width:100%;
    word-wrap: break-word;
   margin:2rem 0;
   color: #6b6c6c;
}

#hero-part1>.btn{
    width:50%;
    padding:10px;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius:0 10px 10px 10px;
    text-transform: uppercase;
}
/*               part 2 hero section            */
#hero-part2{
    position: relative;
    width:75%;
background-color:#e5c984;
display: inline-block;
white-space: nowrap;
overflow-x: scroll;
border-radius: 4px;
border-radius: 20px;
border: 2px solid #000;
margin-bottom: 20px;
 
}
#hero-part2>span{
    margin:20px;
}

#hero-part2>.hero-img{
    position: relative;
    top:15%;
    left:10%;
    margin-right:5rem;
    width:300px;
    height:450px;
    background-color:#ffffff;
    display: inline-block;
   box-shadow: -5px 10px 20px black;
   border-radius: 40px 0;
   border-radius: 20px;
   overflow: hidden;
  
  
}
#hero-part2>.hero-img img{

    /* background-color: #aee68b; */
    /* background-color: red; */
    
    mix-blend-mode:multiply;
}
#hero-part2::-webkit-scrollbar{
  display: none;
}
#hero-part2>.hero-img>img{
 
    height:100%;
    width:100%;
    object-fit:scale-down;
    
}
#hero-part2>.hero-img>.hero-add{
padding:10px 20px;
background-color: #bfc0c1;
border-radius: 20px;
color:#000;
position: absolute;
bottom: 10%;
right:2%;
}

#hero-part2>.hero-img>.hero-buy{
    position: relative;
    padding:10px 20px;
    background-color: #000000;
    border-radius: 20px;
    color:#ffffff;
    position: absolute;
    bottom: 10%;
    left:2%;
    }
.active{
    border-bottom: 2px solid rgb(141, 129, 129);


}

footer{
    background-color: aqua;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   height: 40px;
   margin: 5%;
   font-size: 1.2rem;
   color:rgb(44, 51, 59);
   font-weight: bold;
    
}
/*               media query                 */
@media (max-width:1160px) {
    #nav-part1{
        display:flex;
        align-items: center;
        margin-left:5%;
        gap:2rem;
    }
    
}
@media (max-width:850px) {
    html{
        font-size: 1rem;
    }
    #nav-part1{
        display:flex;
        align-items: center;
        margin-left:5%;
        gap:1rem;
    }
    #nav-part1>a>h4{
        display:none;
    }
    
    #hero{
        position: relative;
        height:100%;
        display: flex;
        flex-direction: column;
        margin-left:5%;
    }
    #hero-part1,#hero-part2{
        text-align: center;
        width:100%;
    }
    #hero-part1>h6{
        margin-top: 2rem;
    }
    #hero-part1>.btn{
       margin-left:20%;
       margin-bottom: 2rem;
        width:50%;
        padding:10px;
        background-color: rgb(0, 0, 0);
        color:white;
        border-radius:0 10px 10px 10px;
        text-transform: uppercase;
    }
}
@media (max-width:500px) {
    #hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    #hero-part1{
        width:80%;
    }
    #hero-part2{
        width: 90%;
    }
    #hero-part2>.hero-img{
        width:300px;
        height:400px;
       margin: 20px;
    }
    #hero-part2{
        scroll-snap-align:center;
    }
    footer{
        font-size: 0.8rem;
        font-weight: bold;
    }
}